[Desktop Entry]
Comment=Neo Linux Look and Feel
Name=Neo
X-KDE-PluginInfo-Author=Native-Neo
X-KDE-PluginInfo-Email=yashyt6246@gmail.com
X-KDE-PluginInfo-Name=org.neo.desktop
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-EnabledByDefault=true
