#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Exec=sudo calamares
Hidden=false
NoDisplay=false
Icon="/usr/share/calamares/branding/neo/logo.png"
Name=System Installer
